*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	background: url('../images/bgc1.jpg') no-repeat;
	background-size: cover;
}
input,button{
	border:none;
	outline: none
}
.bigger_box{
	width: 360px;
	height:300px;
	margin: 150px auto;
}
.title{
	width: 100%;
	padding-left: 90px;
	font-size: 24px;
	font-weight: bold;
	color:green;
	margin-bottom: 15px;
	text-shadow:3px 4px 6px;
}
.box{
	width: 360px;
	height: 220px;
	border: 1px solid green;
	padding: 15px 6px 0 6px;
	box-shadow:2px 4px 10px;
}
.inp_box{
	margin: 10px 40px;
}
.inp_box span{
	display: block;
	width: 90px;
	color:green;
	font-weight: 700;
	font-size: 20px;
}
.inp_box input{
	padding-left: 10px;
	border-style:none;
	width: 220px;
	height: 35px;
}
.inp_box .login,
.inp_box .cancel{
	margin-left: 20px;
	margin-top: 8px;
	padding: 0;
	height:35px;
	text-align: center;
	width: 80px;
	background-color: #4CAF50;
	border-radius: 6px;
	color: white;
	font-size: 16px;
}
