<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>auth</filter-name>
    <filter-class>com.swop.web.filter.AutoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/findProduct</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/sort</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/findCategoryList</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/personalProduct</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminLogin</filter-name>
    <filter-class>com.swop.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLogin</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortServlet</display-name>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.SortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FunSortListServlet</display-name>
    <servlet-name>FunSortListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.FunSortListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunSortListServlet</servlet-name>
    <url-pattern>/funSortList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FunsortServlet</display-name>
    <servlet-name>FunsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.FunsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunsortServlet</servlet-name>
    <url-pattern>/funsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductServlet</display-name>
    <servlet-name>FindProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.FindProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductServlet</servlet-name>
    <url-pattern>/findProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodSortListServlet</display-name>
    <servlet-name>GoodSortListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.GoodSortListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodSortListServlet</servlet-name>
    <url-pattern>/goodSortList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCategoryListServlet</display-name>
    <servlet-name>FindCategoryListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.FindCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCategoryListServlet</servlet-name>
    <url-pattern>/findCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnounceProductServlet</display-name>
    <servlet-name>AnnounceProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AnnounceProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnounceProductServlet</servlet-name>
    <url-pattern>/announceProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalProductServlet</display-name>
    <servlet-name>PersonalProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.PersonalProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalProductServlet</servlet-name>
    <url-pattern>/personalProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductServlet</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.DelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/delProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordServlet</display-name>
    <servlet-name>RecordServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.RecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordServlet</servlet-name>
    <url-pattern>/record</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WuliuServlet</display-name>
    <servlet-name>WuliuServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.WuliuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WuliuServlet</servlet-name>
    <url-pattern>/wuliu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWuliuServlet</display-name>
    <servlet-name>MyWuliuServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.MyWuliuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWuliuServlet</servlet-name>
    <url-pattern>/myWuliu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOutServlet</display-name>
    <servlet-name>AdminOutServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOutServlet</servlet-name>
    <url-pattern>/adminOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryListServlet</display-name>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <url-pattern>/adminCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFunsortListServlet</display-name>
    <servlet-name>AdminFunsortListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminFunsortListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFunsortListServlet</servlet-name>
    <url-pattern>/adminFunsortList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGoodsortListServlet</display-name>
    <servlet-name>AdminGoodsortListServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminGoodsortListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodsortListServlet</servlet-name>
    <url-pattern>/adminGoodsortList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductAddServlet</display-name>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductAddServlet</servlet-name>
    <url-pattern>/adminProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductEditServlet</display-name>
    <servlet-name>AdminProductEditServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductEditServlet</servlet-name>
    <url-pattern>/adminProductEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryAddServlet</display-name>
    <servlet-name>AdminCategoryAddServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminCategoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryAddServlet</servlet-name>
    <url-pattern>/adminCategoryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryEditServlet</display-name>
    <servlet-name>AdminCategoryEditServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminCategoryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryEditServlet</servlet-name>
    <url-pattern>/adminCategoryEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelCategoryServlet</display-name>
    <servlet-name>AdminDelCategoryServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminDelCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCategoryServlet</servlet-name>
    <url-pattern>/adminDelCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCategoryServlet</display-name>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminEditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <url-pattern>/adminEditCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddFunsortServlet</display-name>
    <servlet-name>AdminAddFunsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminAddFunsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddFunsortServlet</servlet-name>
    <url-pattern>/adminAddFunsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFunsortEditServlet</display-name>
    <servlet-name>AdminFunsortEditServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminFunsortEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFunsortEditServlet</servlet-name>
    <url-pattern>/adminFunsortEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditFunsortServlet</display-name>
    <servlet-name>AdminEditFunsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminEditFunsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditFunsortServlet</servlet-name>
    <url-pattern>/adminEditFunsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelFunsortServlet</display-name>
    <servlet-name>AdminDelFunsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminDelFunsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelFunsortServlet</servlet-name>
    <url-pattern>/adminDelFunsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGoodsortAddServlet</display-name>
    <servlet-name>AdminGoodsortAddServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminGoodsortAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodsortAddServlet</servlet-name>
    <url-pattern>/adminGoodsortAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGoodsortEditServlet</display-name>
    <servlet-name>AdminGoodsortEditServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminGoodsortEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGoodsortEditServlet</servlet-name>
    <url-pattern>/adminGoodsortEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditGoodsortServlet</display-name>
    <servlet-name>AdminEditGoodsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminEditGoodsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditGoodsortServlet</servlet-name>
    <url-pattern>/adminEditGoodsort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelGoodsortServlet</display-name>
    <servlet-name>AdminDelGoodsortServlet</servlet-name>
    <servlet-class>com.swop.web.servlet.AdminDelGoodsortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelGoodsortServlet</servlet-name>
    <url-pattern>/adminDelGoodsort</url-pattern>
  </servlet-mapping>
</web-app>